* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /* width: 1440px; */
}

.hamburger {
  display: none; /* Hidden by default */
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #004d99;
  border-radius: 2px;
}

/* Dropdown menu for hamburger */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px #004d99;
  padding: 10px 0;
  z-index: 1;
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: #004d99;
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  text-align: right;
}

.nav-list li a {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 30px 18px;
  color: #23689b;
  font-weight: 600;
  line-height: 20px;
}

.nav-list li a:hover {
  background: var(
    --VER-1-Primary-color-gradient-1,
    linear-gradient(229deg, #084f82 3.95%, #63a9dc 83.28%)
  );
  box-shadow: -3px -4px 10px 0px #1b5ca8 inset;
  color: var(--VER-1-Neutral-color-light, #fff);
}

.social-icons {
  display: flex;
  gap: 8px;
  margin-left: 130px;
  margin-right: 70px;
  padding-right: 8px;
}

.social-icons img {
  width: 40px;
  height: 40px;
}

.hero {
  display: flex;
}

/* Slide */
.hero-right {
  width: 130%;
  height: 482px;
  border-radius: 0px 150px 150px 200px;
  margin-right: 70px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  width: 20px;
  height: 5px;
  border: 2px solid #eaeaea;
  padding: 2px;
  border-radius: 100px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: var(
    --VER-1-Primary-color-gradient-3,
    linear-gradient(242deg, #ce0c14 5.95%, #ff4149 47.82%, #ce0c14 89.86%)
  );
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*css for automatic navigation*/
.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  width: 20px;
  height: 5px;
  border: 2px solid #eaeaea;
  padding: 2px;
  border-radius: 100px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: var(
    --VER-1-Primary-color-gradient-3,
    linear-gradient(242deg, #ce0c14 5.95%, #ff4149 47.82%, #ce0c14 89.86%)
  );
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: var(
    --VER-1-Primary-color-gradient-3,
    linear-gradient(242deg, #ce0c14 5.95%, #ff4149 47.82%, #ce0c14 89.86%)
  );
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: var(
    --VER-1-Primary-color-gradient-3,
    linear-gradient(242deg, #ce0c14 5.95%, #ff4149 47.82%, #ce0c14 89.86%)
  );
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: var(
    --VER-1-Primary-color-gradient-3,
    linear-gradient(242deg, #ce0c14 5.95%, #ff4149 47.82%, #ce0c14 89.86%)
  );
}
/* end slide */

.hero-left-logo {
  position: relative;
  width: 80%;
  height: 301px;
  margin-left: 75px;
  bottom: 61px;
}

.hero-left-content {
  position: relative;
  top: -27px;
  left: 70px;
  width: 110%;
  height: 180px;
  border-radius: 100px 0px 100px 100px;
  background: #22689b;
}

.text-hero-left-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 29px;
}

.text-hero-left-content p {
  color: var(--VER-1-Accent-default, #ffd700);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
}

.text-hero-left-content h1 {
  color: var(--VER-1-Accent-default, #ffd700);
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 40px;
}

.btn-hero-left-content {
  display: flex;
  gap: 10px;
  position: relative;
  left: 75px;
  top: 20px;
}

.btn-hero-left-content img {
  cursor: pointer;
}

.next-icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
  top: 451px;
}

.next-icon-item {
  width: 20px;
  height: 5px;
  border-radius: 100px;
  background: var(--VER-1-Neutral-color-50, #eaeaea);
}

.next-icon-item:hover {
  width: 30px;
  height: 5px;
  cursor: pointer;
  border-radius: 100px;
  background: var(
    --VER-1-Primary-color-gradient-3,
    linear-gradient(242deg, #ce0c14 5.95%, #ff4149 47.82%, #ce0c14 89.86%)
  );
}

.project-specs-block {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.project-specs-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  gap: 12px;
}

.project-specs-item:hover {
  .project-specs-item-big-text {
    display: block;
  }
}

.project-specs-item-icon {
  background-image: url(/assets/img/back-vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  width: 129.906px;
  height: 150px;
  padding: 25px 15px;
}

.project-specs-item-text {
  color: var(--VER-1-Primary-color-default, #22689b);
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 168% */
  text-transform: uppercase;
}

.project-specs-item-big-text {
  display: none;
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 34px; /* 106.25% */
  background: var(
    --VER-1-Primary-color-gradient-3,
    linear-gradient(242deg, #ce0c14 5.95%, #ff4149 47.82%, #ce0c14 89.86%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-hide-mobile {
  display: none;
}

.video-featured-section {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  width: 100%;
  height: 1210px;
  background-image: url(/assets/img/blue-factory.png);
  background-repeat: no-repeat;
  background-position: top center; /* Căn giữa hình nền theo chiều ngang */
}

.video-featured-section-container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  gap: 40px;
  margin: 57px 92px 125px 92px;
}

.video-featured-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

.video-featured-icon .btn-pre {
  padding-left: 32.5px;
}

.video-featured-icon .btn-next {
  padding-right: 32.5px;
}

.video-featured-title {
  text-align: center;
  text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  background: var(
    --VER-1-Primary-color-gradient-4,
    linear-gradient(242deg, #ffd700 6.61%, #ffec83 48.48%, #ffd700 90.36%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video-featured-news {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  height: 371px;
  padding-top: 56px;
}

.factory-block-para {
  width: 100%;
}

.factory-block-para {
  width: 100%;
  height: 100%;
  border-radius: 20px 0px;
  background: var(--VER-1-Neutral-color-light, #fff);
}

.factory-block-view-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.factory-block-para-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 11px 14px 10px 18px;
}

.block-middle {
  display: flex;
  flex-direction: column;
  gap: 14.34px;
  padding: 12.79px 16.3px 13.34px 20.95px;
}

.para-move {
  position: relative;
  bottom: 52px;
  left: 21px;
}

.right-featured-item {
  margin-left: 30px;
}

.left-featured-item {
  margin-right: 30px;
}

.text-change p {
  color: var(--VER-1-Neutral-color-500, #2e2e2e);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.factory-block-view-date {
  color: var(--VER-1-Neutral-color-300, #a3a3a3);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.block-eye-view {
  display: flex;
  align-items: center;
}

.next-slider-news {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.next-slider-news-item {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background: var(--VER-1-Neutral-color-50, #eaeaea);
}

.next-slider-news-item:hover {
  border-radius: 100px;
  background: var(
    --VER-1-Primary-color-gradient-1,
    linear-gradient(229deg, #084f82 3.95%, #63a9dc 83.28%)
  );
  width: 30px;
  height: 8px;
}

.video-featured-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.video-button-container:hover {
  background-color: #004d99;
}

.video-button-container {
  display: flex;
  width: 126px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--VER-1-Primary-color-darker, #084f82);
  background: var(--VER-1-Primary-color-lighter, #afe1ff);
}

.video-button-container p {
  color: var(--VER-1-Neutral-color-light, #fff);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 12px 20px;
}

.VHDN {
  display: flex;
  justify-content: center;
  align-items: center;
}

.VHDN-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: var(--VER-1-Neutral-color-light, #fff);
  box-shadow: -5px 6px 4px 0px rgba(99, 169, 220, 0.3);
  margin-left: 68px;
  margin-right: 68px;
}

.VHDN-button {
  display: flex;
  gap: 30px;
}

.VHDN-title {
  color: var(--VER-1-Primary-color-darker, #084f82);
  text-align: center;
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 34px 0 22px 0;
}

.VHDN-para {
  text-align: center;
  margin: 0 64px 0 63px;
  color: var(--VER-1-Neutral-color-500, #2e2e2e);
  text-align: center;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.VHDN-button {
  margin-top: 36px;
  padding-bottom: 33px;
  width: 85%;
}

.VHDN-button-item {
  border-radius: 20px;
  background: var(
    --VER-1-Primary-color-gradient-1,
    linear-gradient(229deg, #084f82 3.95%, #63a9dc 83.28%)
  );
  width: 100%;
}

.VHDN-button-item-text {
  color: var(--VER-1-Neutral-color-light, #fff);
  text-align: center;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 28px 0 27px 0;
}

.GTCL {
  padding-top: 70px;
}

.GTCL-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GTCL-title {
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 56px; /* 140% */

  background: var(
    --VER-1-Primary-color-gradient-3,
    linear-gradient(242deg, #ce0c14 5.95%, #ff4149 47.82%, #ce0c14 89.86%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.GTCL-center-logo {
  padding-top: 23px;
  padding-bottom: 40.77px;
}

.GTCL-curve-icons {
  display: flex;
}

.GTCL-icon-item {
  background-image: url(/assets/img/circle-bluewhite.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 146px;
  height: 146px;
}

.icon-middle-item {
  margin: 0 133px 0 133px;
}

.GTCL-icon-item img {
  border-radius: 16px;
  position: relative;
  top: 28px;
  left: 40px;
}

.icon-side-left {
  margin-right: 20px;
}

.icon-side-right {
  margin-left: 20px;
}

.icon-middle-side {
  position: relative;
  bottom: 90px;
}

.icon-beside {
  position: relative;
  bottom: 270px;
}

.gtcl-curve-icons::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #007bff;
  top: 50%;
  z-index: -1;
  border-radius: 10px;
  transform: rotate(180deg);
}

.SPDV {
  margin-top: 62px;
  background: url(/assets/img/blue-sea-beauty.png) lightgray 50% / cover
    no-repeat;
  width: 100%;
  height: 753px;
}

.SPDV-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding-top: 76px;
  padding-bottom: 76px;
}

.SPDV-title {
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  background: var(
    --VER-1-Primary-color-gradient-4,
    linear-gradient(242deg, #ffd700 6.61%, #ffec83 48.48%, #ffd700 90.36%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.SPDV-overview {
  margin: 0 228px 0 228px;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; /* 140% */
}

.SPDV-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.SPDV-slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.SPDV-slider-item p {
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 56px; /* 164.706% */
  text-transform: uppercase;
  background: var(
    --VER-1-Primary-color-gradient-4,
    linear-gradient(242deg, #ffd700 6.61%, #ffec83 48.48%, #ffd700 90.36%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: stretch;
}

.background-xang {
  width: 310px;
  height: 380px;
  border-radius: 20px;
  border: 2px solid var(--VER-1-Neutral-color-light, #fff);
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(/assets/img/xang-background.png) lightgray 50% / cover no-repeat;
}

.background-KHL {
  width: 310px;
  height: 380px;
  border-radius: 20px;
  border: 2px solid var(--VER-1-Neutral-color-light, #fff);
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(/assets/img/khi-hoa-long-background.png) lightgray 50% / cover no-repeat;
}

.background-dau {
  width: 310px;
  height: 380px;
  border-radius: 20px;
  border: 2px solid var(--VER-1-Neutral-color-light, #fff);
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(/assets/img/dau-background.png) lightgray 50% / cover no-repeat;
}

.background-hatnhua {
  width: 310px;
  height: 380px;
  border-radius: 20px;
  border: 2px solid var(--VER-1-Neutral-color-light, #fff);
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(/assets/img/hatnhua-background.png) lightgray 50% / cover no-repeat;
}

.next-icon-slider {
  position: relative;
  left: 5px;
}

.prev-icon-slider {
  position: relative;
  right: 5px;
}

.next-slider-SPDV {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.next-slider-SPDV-item {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background: var(--VER-1-Neutral-color-50, #eaeaea);
}

.next-slider-SPDV-item:hover {
  border-radius: 100px;
  background: var(
    --VER-1-Primary-color-gradient-1,
    linear-gradient(229deg, #084f82 3.95%, #63a9dc 83.28%)
  );
  width: 30px;
  height: 8px;
}

.DTKH-container {
  display: flex;
  flex-direction: column;
  gap: 61px;
  margin-top: 68px;
  align-items: center;
  justify-content: center;
}

.DTKH-title {
  color: var(--VER-1-Primary-color-darker, #084f82);
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  align-self: stretch;
}

.DTKH-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo-mini {
  background: #c7eafb;
  height: 200px;
  width: 100%;
  margin-top: 68px;
}

.logo-mini-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 19px;
}

.title-logo-petro-mini {
  align-self: stretch;
  text-align: center;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  background: var(
    --VER-1-Primary-color-gradient-3,
    linear-gradient(242deg, #ce0c14 5.95%, #ff4149 47.82%, #ce0c14 89.86%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.information-petro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background: var(
    --VER-1-Primary-color-gradient-1,
    linear-gradient(229deg, #084f82 3.95%, #63a9dc 83.28%)
  );
  padding-right: 91px;
  padding-left: 91px;
}

.info-petro-item-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.text-info {
  color: var(--VER-1-Neutral-color-light, #fff);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px; /* 350% */
}
